#templates {
    display: none;
}

#slide-list {
    margin: 50px;
}

#slide-list section {
    display: block;
    float: left;
    margin: 2%;
    position: relative;
    padding: 5px;
    cursor: pointer;
}

section > button#edit-button {
    display: inline-block;
}

section > h1 {
    text-align: center;
}